[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notion-client = "*"
langchain = "*"
langchain-community = "*"
faiss-cpu = "*"
sentence-transformers = "*"
chromadb = "*"
psycopg2-binary = "*"
pgvector = "*"

[dev-packages]

[requires]
python_version = "3.13"
